rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {//0 @ /root/...
      allow read, write: if false;
    }

    match /users/{userId} {//1 @ /root/users/
      allow read, write: if false;


      // match /parentExercises/{docId} {//2 @ /root/users/parentExercises
        // allow read: if true;

    //     match /exerciseSessions/{docId} {//3 @ /root/users/parentExercises/exerciseSessions

    //     }
      // }

    //   match /workouts/{docId} {//2 @ /root/users/workouts


    //     match /childExercises/{docId} {//3 @ /root/users/workouts/childExercises

    //     }
    //   }

    //   match /workoutSessions/{docId} {//2 @ /root/users/workoutSessions

    //   }
    }
  }
}