<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2742026173933447~6120117185</string>
	<key>CLIENT_ID</key>
	<string>664851097747-srsk2bq1jph1ad9298kuq2csdsslieon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664851097747-srsk2bq1jph1ad9298kuq2csdsslieon</string>
	<key>API_KEY</key>
	<string>AIzaSyBpVaUq4jklBxStAVqIYR1GPpjLd7oED04</string>
	<key>GCM_SENDER_ID</key>
	<string>664851097747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rt.ios</string>
	<key>PROJECT_ID</key>
	<string>rt-test1-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>rt-test1-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664851097747:ios:be969affae32d98f330566</string>
</dict>
</plist>